%h1.ui.block.header
  Paid Messages
.ui.top.attached.tabular.menu
  %a.active.item{ "data-tab" => 'facebook-paid-messages' }
    %h3.ui.header
      %i.blue.facebook.square.icon
      .content
        %span.ui.black.label
          #{ @facebook_paid_messages.count.to_s }
  %a.item{ "data-tab" => 'facebook-uscprofiles-paid-messages' }
    %h3.ui.header
      %i.blue.facebook.square.icon
      .content
        (P)
        %span.ui.black.label
          #{ @facebook_uscprofiles_paid_messages.count.to_s }
  %a.item{ "data-tab" => 'google-paid-messages' }
    %h3.ui.header
      %i.red.google.square.icon
      .content
        %span.ui.black.label
          #{ @google_paid_messages.count.to_s }
  %a.item{ "data-tab" => 'google-uscprofiles-paid-messages' }
    %h3.ui.header
      %i.red.google.square.icon
      .content
        (P)
        %span.ui.black.label
          #{ @google_uscprofiles_paid_messages.count.to_s }
  %a.item{ "data-tab" => 'youtube-search-results-paid-messages' }
    %h3.ui.header
      %i.red.youtube.square.icon
      .content
        %span.ui.black.label
          #{ @youtube_search_results_paid_messages.count.to_s }
  %a.item{ "data-tab" => 'youtube-uscprofiles-paid-messages' }
    %h3.ui.header
      %i.red.youtube.square.icon
      .content
        (P)
        %span.ui.black.label
          #{ @youtube_uscprofiles_paid_messages.count.to_s }
.ui.bottom.attached.tab.active.segment{ "data-tab" => 'facebook-paid-messages'}
  = render :partial => 'shared/messages', :locals => { :messages => @facebook_paid_messages, :platform => 'facebook', :medium => 'paid' }
.ui.bottom.attached.tab.segment{ "data-tab" => 'facebook-uscprofiles-paid-messages'}
  = render :partial => 'shared/messages', :locals => { :messages => @facebook_uscprofiles_paid_messages, :platform => 'facebook_uscprofiles', :medium => 'paid' }
.ui.bottom.attached.tab.segment{ "data-tab" => 'google-paid-messages'}
  = render :partial => 'shared/messages', :locals => { :messages => @google_paid_messages, :platform => 'google', :medium => 'paid' }
.ui.bottom.attached.tab.segment{ "data-tab" => 'google-uscprofiles-paid-messages'}
  = render :partial => 'shared/messages', :locals => { :messages => @google_uscprofiles_paid_messages, :platform => 'google_uscprofiles', :medium => 'paid' }
.ui.bottom.attached.tab.segment{ "data-tab" => 'youtube-search-results-paid-messages'}
  = render :partial => 'shared/messages', :locals => { :messages => @youtube_search_results_paid_messages, :platform => 'youtube', :medium => 'paid' }
.ui.bottom.attached.tab.segment{ "data-tab" => 'youtube-uscprofiles-paid-messages'}
  = render :partial => 'shared/messages', :locals => { :messages => @youtube_uscprofiles_paid_messages, :platform => 'youtube_uscprofiles', :medium => 'paid' }


