.ui.breadcrumb
  %a{:href => root_path}
    Home
  %i.right.angle.icon.divider
  .section
    %a{:href => experiment_path(@message_generation_parameter_set.message_generating)}
      Experiment: #{@message_generation_parameter_set.message_generating.name}
  %i.right.angle.icon.divider
  .active.section
    Edit message generation parameter set for #{@message_generation_parameter_set.message_generating.name} 
.ui.divider
%h3.ui.top.attached.header
  Edit message generation parameter set for #{@message_generation_parameter_set.message_generating.name}
.ui.attached.segment
  = simple_form_for @message_generation_parameter_set do |f|
    = render partial: 'shared/forms/message_generation_parameter_set', locals: { form: f }
