.ui.breadcrumb
  %a{:href => root_path}
    Home
  %i.right.angle.icon.divider
  .section
    %a{:href => experiment_path(@experiment)}
      Experiment: #{@experiment.name}
  %i.right.angle.icon.divider
  .active.section
    Edit message generation parameter set for #{@experiment.name} 
.ui.divider
%h3.ui.top.attached.header
  Edit message generation parameter set for #{@experiment.name}
.ui.attached.segment
  = simple_form_for [@experiment, @message_generation_parameter_set] do |e|
    = e.simple_fields_for :message_generation_parameter_set do |m|
      = m.input :promoted_websites_tag
      = m.input :promoted_properties_cycle_type
      = m.input :selected_message_templates_tag
      = m.input :selected_message_templates_cycle_type
      = m.input :medium_cycle_type
      = m.input :social_network_cycle_type
      = m.input :image_present_cycle_type
      = m.input :period_in_days
      = m.input :number_of_messages_per_social_network
      = m.button :submit
