= simple_form_for @data_dictionary, class: 'ui form' do |f|
  %table.ui.celled.table
    %thead 
      %tr
        %th.collapsing.center.aligned Include?
        %th Source
        %th Variable name
        %th Report label
        %th Allowed values
        %th Value mapping
        %th Note
    %tbody
      = f.simple_fields_for :data_dictionary_entries do |dde|
        = render 'shared/forms/data_dictionary_entry_fields', f: dde
    %tfoot
      %tr
        %th{ :colspan => 7 }
          = link_to_add_association "Add variable", f, :data_dictionary_entries, data: {'association-insertion-node' => 'tbody', 'association-insertion-method' => 'append'}, partial: 'shared/forms/data_dictionary_entry_fields'
  = f.button :submit
          