= simple_form_for @experiment do |f|
  - if  @experiment.errors.any?
    %ul
      - @experiment.errors.full_messages.each do |message|
        %li= message
  = f.input :name, label: 'Name your experiment', hint: 'Give your experiment a good name'
  = f.input :start_date, as: :string
  = f.input :end_date, as: :string
  = f.input :message_distribution_start_date, as: :string
  = f.association :social_media_profiles, as: :check_boxes
  = f.simple_fields_for :message_generation_parameter_set do |m|
    = m.input :social_network_choices, as: :check_boxes, wrapper_class: 'inline fields', item_wrapper_class: 'ui field checkbox', collection: { 'Facebook' => 'facebook', 'Instagram' => 'instagram', 'Twitter' => 'twitter' }, label: 'What social media type(s) do you want to use?'
    = m.input :medium_choices, as: :check_boxes, wrapper_class: 'inline fields', item_wrapper_class: 'ui field checkbox', collection: { 'Ad' => 'ad', 'Organic/Unpaid' => 'organic' }, label: 'What type(s) of message do you want to use?'
    = m.input :image_present_choices, as: :check_boxes, wrapper_class: 'inline fields', item_wrapper_class: 'ui field checkbox', collection: { 'With' => 'with', 'Without' => 'without' }, label: 'Do you want to use images in the messages?'
    // %tr
    //   %td.collapsing 
    //   %td
    // %tr
    //   %td.collapsing How do you want to distribute the messages across the selected social media?
    //   %td= m.input :social_network_distribution, as: :radio_buttons, wrapper_class: 'inline fields', item_wrapper_class: 'ui field radio checkbox', label: false
    // %tr
    // %tr
    //   %td.collapsing How do you want to distribute paid ads vs. unpaid (organic) messages across each selected social media?
    //   %td= m.input :medium_distribution, as: :radio_buttons, wrapper_class: 'inline fields', item_wrapper_class: 'ui field radio checkbox', label: false
    // %tr
    //   %td.collapsing How do you want to distribute the messages with or without images across each selected social media?
    //   %td= m.input :image_present_distribution, as: :radio_buttons, wrapper_class: 'inline fields', item_wrapper_class: 'ui field radio checkbox', label: false
    =m.input :period_in_days
    =m.input :number_of_messages_per_social_network
  = f.button :submit

