%div{ :id => "edit-comment-codes-#{comment.id}" }
  %select.ui.fluid.multiple.selection.dropdown.edit-comment-codes{:multiple => "multiple", "data-comment-id" => "#{comment.id}"}
    - if !experiment.comment_codes.nil? && !comment.code_list.nil?
      - experiment.comment_codes.each do |code|
        - if comment.code_list.include?(code)
          %option{"value"=>"#{code}", :selected => "selected"} #{code}
        - else
          %option{"value"=>"#{code}"} #{code}
  .ui.button.fluid.disabled.save-comment-codes{'data-comment-id': comment.id}
    %i.save.icon 
    Save
      