.ui.link.cards
  - @messages.each do |message|
    .card
      .content
        .ui.medium.image
          -if message.image
            = image_tag "#{message.image.url}"
          -else
            %img{ :src => "/assets/no-image.png" }
        .header
          = message.content
        .right.floated.meta
          = @messages.first.buffer_update.sent_from_date_time.strftime("%I:%M %P, %b %d, %Y")
        %i.facebook.icon
      .content
        .header
      .image
        = image_tag("no-image.png", alt: "No image")
      .content
        %i.heart.icon
          = @messages_with_metrics[0].metrics[0].data[:likes]
        %i.refresh.icon
          = @messages_with_metrics[0].metrics[0].data[:shares]
        %i.comment.icon
          = @messages_with_metrics[0].metrics[0].data[:comments]
      .extra.content
        = @messages_with_metrics[0].metrics[0].data[:click_rate].to_s + "%"
        %span  Click rate
      .content
        .header
