.ui.items
  - @instagram_messages = @messages.select{ |message| message.social_media_profile.platform == :instagram}
  - @instagram_messages.each do |message|
    .item
      .ui.small.image
        -if message.image
          = image_tag "#{message.image.url}"
        -else
          = image_tag "no-image.png"
      .content
        .description
          .ui.left.basic.label
            = message.medium
          = message.content
        .extra
          %table.ui.very.basic.compact.table
            %thead
              %th Clicks
              %th Impressions
              %th Primary outcome measure
              %th Likes
              %th Shares
              %th Comments
            %tbody
              %td= message.metric_instagram_clicks
              %td= message.percentage_instagram_clicks_impressions
              %td
                .ui.label.basic.teal
                  = message.percentage_instagram_clicks_impressions.to_s + "%"
                  Click rate
              %td= message.metric_instagram_likes
              %td= message.metric_instagram_shares
              %td= message.metric_instagram_comments
        .extra
          %table.ui.very.basic.compact.table
            %caption Website engagement
            %thead
              %th Secondary outcome measure
              %th Conversions
              %th Sessions
              %th Users
              %th Average Session Duration
            %tbody
              %tr
                %td
                  .ui.label.basic.teal
                    = message.calculate_goal_rate
                    Conversion rate
                %td= MetricsManager.get_metric_value(message, :google_analytics, 'ga:goals')
                %td= MetricsManager.get_metric_value(message, :google_analytics, 'ga:sessions')
                %td= MetricsManager.get_metric_value(message, :google_analytics, 'ga:users')
                %td= MetricsManager.get_metric_value(message, :google_analytics, 'ga:avgSessionDuration')

