.ui.link.cards
  - @messages.each do |message|
    .card
      .content
        .header
          .left.floated
            = message.social_media_profile.platform_icon
          .right.floated.meta
            - if !message.buffer_update.nil?
              = message.buffer_update.sent_from_date_time.strftime("%I:%M %P, %b %d, %Y")
            - else
              02:35 pm, Sep 17, 2015
      .content
        = message.content
      .ui.medium.image
        -if message.image
          = image_tag "#{message.image.url}"
        -else
          = image_tag "no-image.png"
      .content
        %i.heart.icon
        / = @messages_with_metrics[0].metrics[0].data[:likes]
        like(s)
        %i.refresh.icon
        / = @messages_with_metrics[0].metrics[0].data[:shares]
        shares
        %i.comment.icon
        / = @messages_with_metrics[0].metrics[0].data[:comments]
        comments
      .extra.content
        .ui.label.basic.teal
          %i.checkmark.icon
          / = @messages_with_metrics[0].metrics[0].data[:click_rate].to_s + "%"
          Click rate
        %br/
        /(#{@messages_with_metrics[0].metrics[0].data[:clicks]} clicks / #{@messages_with_metrics[0].metrics[0].data[:impressions]} impressions)