.ui.link.stackable.centered.cards
  %br
  .ui.horizontal.divider.header
    Most effective messages (by click rate)
  - @top_messages_by_click_rate[0..4].each do |message|
    .card
      .content
        .header
          .left.floated
            = message.social_media_profile.platform_icon
          .right.floated.meta
            = message.scheduled_date_time.strftime("%b %-d, %Y @ %l:%M %p")
      .content
        = message.content
      .ui.medium.image
        -if message.image
          = image_tag "#{message.image.url}"
        -else
          = image_tag "no-image.png"
      .content
        = render partial: 'shared/hash', locals: { hash: message.message_template.experiment_variables.reject{|k,v| k == 'stem_id'} }
      .extra.content
        .ui.label.basic.teal
          -if message.click_rate.nil?
            = 'N/A'
          -elsif message.click_rate == 0.0 |
            = "0 %"
          -else
            = number_with_precision(message.click_rate / 100, precision: 3, significant: true)
          \% click rate
        %br
          (
          = message.send("metric_#{message.platform}_clicks".to_sym)
          clicks /
          #{message.impressions}
          = message.send("metric_#{message.platform}_impressions".to_sym)
          impressions )
  %br
  .ui.horizontal.divider.header
    Most effective messages (by goal rate)
  - @top_messages_by_website_goal_rate[0..4].each do |message|
    .card
      .content
        .header
          .left.floated
            = message.social_media_profile.platform_icon
          .right.floated.meta
            = message.scheduled_date_time.strftime("%b %-d, %Y @ %l:%M %p")
      .content
        = message.content
      .ui.medium.image
        -if message.image
          = image_tag "#{message.image.url}"
        -else
          = image_tag "no-image.png"
      .content
        = render partial: 'shared/hash', locals: { hash: message.message_template.experiment_variables.reject{|k,v| k == 'stem_id'} }
      .extra.content
        .ui.label.basic.teal
          -if message.website_goal_rate.nil?
            = 'N/A'
          -elsif message.website_goal_rate == 0.0
            = "0 "
          -else
            = number_with_precision(message.website_goal_rate, precision: 3, significant: true)
          \% goal rate
        %br
          (
          -if message.website_goal_count.nil?
            = 0
          -else
            = message.website_goal_count
          goals /
          -if message.website_session_count.nil?
            = 'N/A'
          -else
            = message.website_session_count
          sessions )

