.ui.items
  - @facebook_messages = @messages.select{ |message| message.social_media_profile.platform == :facebook}
  - @facebook_messages.each do |message|
    .item
      .ui.tiny.image
        -if message.image
          = image_tag "#{message.image.url}"
        -else
          = image_tag "no-image.png"
      .content
        .ui.header.h6
          Message:
        %br
        = message.content
        .ui.right.basic.label
          = message.medium
        .ui.two.column.grid
          .column
            .ui.two.column.grid
              .column
                .ui.mini.statistics
                  .teal.statistic
                    .label
                      Click rate 
                    .value
                      2.1%
                    .label
                      (message click rate)
              .column
                .ui.column.grid
                  .row
                    .ui.row
                      .statistic
                        .value
                          %i.like.icon
                          = "4" + " Likes"
                      .statistic
                        .value
                          %i.share.icon
                          = "3" + " Shares"
                      .statistic
                        .value
                          %i.comment.icon
                          = "2" + " Comments"
          .column
            .ui.teal.mini.statistic
              .label
                Conversion rate 
              .value
                3.2%
              .label
                (website click rate)