.ui.items
  - @twitter_messages = @messages.select{ |message| message.social_media_profile.platform == :twitter}
  - @twitter_messages.each do |message|
    .item
      .ui.tiny.image
        -if message.image
          = image_tag "#{message.image.url}"
        -else
          %img{ :src => "/assets/image.png" }
      .content
        .ui.mini.statistics
          .statistic
            .value
              = @messages_with_metrics[0].metrics[0].data[:clicks]
            .label
              Clicks
          .statistic
            .value
              = @messages_with_metrics[0].metrics[0].data[:impressions]
            .label
              Signups
          .statistic.teal
            .value
              = @messages_with_metrics[0].metrics[0].data[:click_rate].to_s + "%"
            .label
              Primary outcome measure
          .statistic
            .value
              %i.heart.icon
              = @messages_with_metrics[0].metrics[0].data[:likes]
            .label
              Likes
          .statistic
            .value
              %i.refresh.icon
              = @messages_with_metrics[0].metrics[0].data[:shares]
            .label
              Retweets
          .statistic
            .value
              %i.comment.icon
              = @messages_with_metrics[0].metrics[0].data[:comments]
            .label
              Replies

