.ui.link.stackable.centered.cards
  %br
  .ui.horizontal.divider.header
    Most effective messages (by click rate)
  - @messages[0..4].each do |message|
    .card
      .content
        .header
          .left.floated
            = message.social_media_profile.platform_icon
          .right.floated.meta
            02:35 pm, Sep 17, 2015
      .content
        = message.content
      .ui.medium.image
        -if message.image
          = image_tag "#{message.image.url}"
        -else
          = image_tag "no-image.png"
      .content
        %i.heart.icon
        = message.send("metric_#{message.platform}_likes".to_sym)
        like(s)
        %br
        %i.refresh.icon
        = message.send("metric_#{message.platform}_shares".to_sym)
        shares
        %br
        %i.comment.icon
        = message.send("metric_#{message.platform}_comments".to_sym)
        comments
      .extra.content
        .ui.label.basic.teal
          %i.checkmark.icon
          = message.send("percentage_#{message.platform}_clicks_impressions".to_sym)
          Click rate
        %br
          (
          = message.send("metric_#{message.platform}_clicks".to_sym)
          clicks /
          #{message.impressions}
          = message.send("metric_#{message.platform}_impressions".to_sym)
          impressions )

