.ui.items
  - @twitter_messages = @messages.select{ |message| message.social_media_profile.platform == :instagram}
  - @twitter_messages.each do |message|
    .item
      .ui.small.image
        -if message.image
          = image_tag "#{message.image.url}"
        -else
          %img{ :src => "/assets/image.png" }
      .content
        / .header
        /   /
        /   = message.social_media_profile.service_username
        .description
          .ui.left.basic.label
            = message.medium
          = message.content
        .extra
          %table.ui.very.basic.compact.table
            %thead
              %th Clicks
              %th Impressions
              %th Primary outcome measure
              %th Likes
              %th Comments
              %th Shares
            %tbody
              %td= @messages_with_metrics[0].metrics[0].data[:clicks]
              %td= @messages_with_metrics[0].metrics[0].data[:impressions]
              %td= @messages_with_metrics[0].metrics[0].data[:click_rate].to_s + "%"
              %td= @messages_with_metrics[0].metrics[0].data[:likes]
              %td= @messages_with_metrics[0].metrics[0].data[:shares]
              %td= @messages_with_metrics[0].metrics[0].data[:comments]