.ui.items
  - @twitter_messages = @messages.select{ |message| message.social_media_profile.platform == :instagram}
  - @twitter_messages.each do |message|
    .item
      .ui.small.image
        -if message.image
          = image_tag "#{message.image.url}"
        -else
          = image_tag "no-image.png"
      .content
        .description
          .ui.left.basic.label
            = message.medium
          = message.content
        .extra
          %table.ui.very.basic.compact.table
            %thead
              %th Clicks
              %th Impressions
              %th Primary outcome measure
              %th Likes
              %th Comments
              %th Shares
            %tbody
              %td= message.metric_instagram_clicks
              %td= message.percentage_instagram_clicks_impressions
              %td= message.percentage_instagram_clicks_impressions.to_s + "%"
              %td= message.metric_instagram_likes
              %td= message.metric_instagram_shares
              %td= message.metric_instagram_comments

