.ui.link.cards
  - @messages.each do |message|
    .card
      .content
        .header
          .left.floated
            = message.social_media_profile.platform_icon
          .right.floated.meta
            - if !message.buffer_update.nil?
              = message.buffer_update.sent_from_date_time.strftime("%I:%M %P, %b %d, %Y")
            - else
              02:35 pm, Sep 17, 2015
      .content
        = message.content
      .ui.medium.image
        -if message.image
          = image_tag "#{message.image.url}"
        -else
          %img{ :src => "/assets/no-image.png" }
      .content
        %i.heart.icon
        %span= @messages_with_metrics[0].metrics[0].data[:likes]
        %span like(s)
        %i.refresh.icon
        %span= @messages_with_metrics[0].metrics[0].data[:shares]
        %span shares
        %i.comment.icon
        %span= @messages_with_metrics[0].metrics[0].data[:comments]
        %span comments
      .extra.content
        = @messages_with_metrics[0].metrics[0].data[:click_rate].to_s + "%"
        %span  Click rate
        .content
          %span (
          %span= @messages_with_metrics[0].metrics[0].data[:clicks]
          %span clicks/
          %span= @messages_with_metrics[0].metrics[0].data[:impressions]
          %span impressions )