.ui.items
  - @twitter_messages = @messages.select{ |message| message.social_media_profile.platform == :twitter}
  - @twitter_messages.each do |message|
    .item
      .ui.small.image
        -if message.image
          = image_tag "#{message.image.url}"
        -else
          = image_tag "no-image.png"
      .content
        .description
          .ui.left.basic.label
            = message.medium
          = message.content
        .extra
          %table.ui.very.basic.compact.table
            %thead
              %th Clicks
              %th Impressions
              %th Primary outcome measure
              %th Favorites
              %th Retweets
              %th Replies
            %tbody
              %tr
                %td= message.metric_twitter_clicks
                %td= message.metric_twitter_impressions
                %td
                  .ui.label.basic.teal
                    = number_with_precision(message.percentage_twitter_clicks_impressions, precision: 2, significant: true, raise: false) + "%"
                    Click rate
                %td= message.metric_twitter_likes
                %td= message.metric_twitter_shares
                %td= message.metric_twitter_comments

