.ui.items
  - @facebook_messages = @messages.select{ |message| message.social_media_profile.platform == :facebook}
  - @facebook_messages.each do |message|
    .item
      .ui.tiny.image
        -if message.image
          = image_tag "#{message.image.url}"
        -else
          = image_tag "no-image.png"
      .content
        = message.content
        .ui.right.basic.label
          = message.medium
        .ui.two.column.grid
          .column
            .ui.two.column.grid
              .column
                .ui.mini.statistics
                  .teal.statistic
                    .label
                      Click rate 
                    .value
                      = message.percentage_facebook_clicks_impressions.to_s
                    .label
                      (message click rate)
              .column
                .ui.column.grid
                  .row
                    .ui.row
                      .statistic
                        .value
                          %i.like.icon
                          = message.metric_facebook_likes + " Likes"
                      .statistic
                        .value
                          %i.share.icon
                          = message.metric_facebook_shares + " Shares"
                      .statistic
                        .value
                          %i.comment.icon
                          = message.metric_facebook_comments + " Comments"
          .column
            .ui.teal.mini.statistic
              .label
                Conversion rate 
              .value
                = message.calculate_goal_rate
              .label
                (website click rate)