.ui.link.stackable.centered.cards
  %br
  .ui.horizontal.divider.header
    Most effective messages (by click rate)
  - @messages.each do |message|
    .card
      .content
        .header
          .left.floated
            = message.social_media_profile.platform_icon
          .right.floated.meta
            - if !message.buffer_update.sent_from_date_time.nil?
              = message.buffer_update.sent_from_date_time.strftime("%I:%M %P, %b %d, %Y")
            - else
              -
      .content
        = message.content
      .ui.medium.image
        -if message.image
          = image_tag "#{message.image.url}"
        -else
          = image_tag "no-image.png"
      .content
        %i.heart.icon
          = message.metric_likes
        like(s)
        %i.refresh.icon
          = message.metric_shares
        shares
        %i.comment.icon
          = message.metric_comments
        comments
      .extra.content
        .ui.label.basic.teal
          %i.checkmark.icon
          = message.percentage_clicks_impressions.to_s + "%"
          Click rate
        %br
          ( #{message.clicks} clicks / #{message.impressions} impressions )

