.ui.items
  - @facebook_messages = @messages.select{ |message| message.social_media_profile.platform == :facebook}
  - @facebook_messages.each do |message|
    .item
      .ui.tiny.image
        -if message.image
          = image_tag "#{message.image.url}"
        -else
          = image_tag "no-image.png"
      .content
        .ui.header.h6
          Message:
        %br
        = message.content
        .ui.right.basic.label
          = message.medium
        %br
        .ui.three.column.grid
          .column
            .row
              .ui.row
                .statistic
                  .value
                    %i.like.icon
                    = message.send(:metric_facebook_likes).to_s + " Likes"
                .statistic
                  .value
                    %i.share.icon
                    = message.send(:metric_facebook_shares).to_s + " Shares"
                .statistic
                  .value
                    %i.comment.icon
                    = message.comments.count.to_s + " Comment(s)"
          .column
            .ui.mini.statistics
              .teal.statistic
                .label
                  Click rate 
                .value
                  = message.click_rate.to_s + '%'
                .label
                  (message click rate)
          .column
            .ui.teal.mini.statistic
              .label
                Conversion rate 
              .value
                = message.calculate_goal_rate
              .label
                (website click rate)