.ui.buttons
  - if @experiment.disable_message_generation?
    .tooltip{ "data-tooltip" => "This experiment has already started distributing messages. You can no longer generate messages for this experiment.", "data-position" => "right center" }
      %a.ui.labeled.icon.disabled.button
        %i.send.icon
        Generate messages
    .or
    %a.ui.labeled.icon.button{ href: "/experiments/#{@experiment.id}/send_to_buffer" }
      %i.rocket.icon
      Send to Buffer
  - else
    %a#generate-messages-button.ui.primary.labeled.icon.button
      %i.send.icon
      Generate messages
    .or
    %a.ui.labeled.icon.button{ href: "/experiments/#{@experiment.id}/send_to_buffer" }
      %i.rocket.icon
      Send to Buffer
- if @experiment.message_distribution_start_date.nil?
  .ui.negative.message
    .header
      Please enter the message generation start date
- if @messages.count == 0
  .ui.message
    .header
    %p When you have set up the message generation parameters and imported all required information, you are ready to generate the messages for the experiment.
- else
  .ui.message
    .header
      Note
    .ui.bulleted.list
      .item
        Randomization: Trial Promoter uses two methods for randomization. The messages are shuffled into a random sequence using a Fisher-Yates shuffle <a href="http://dl.acm.org/citation.cfm?doid=364520.364540" target="_blank">[1]</a>. The selection of hashtags (if applicable) and the images (if applicable) are randomized using a sampling method <a href="https://ruby-doc.org/core-2.2.0/Array.html#method-i-sample" target="_blank">[2]</a>.
      .item
        Message generation: When you click on "Generate  messages", all existing messages for this experiment will be deleted and then regenerated.
      .item
        Editing restriction: Set up, message templates, and generation will be locked 3 days before the experiment is scheduled to start.
      .item
        Send to Buffer: Trial Promoter sends messages to Buffer nightly (up to a week in advance). Please click on "Send to Buffer" to immediately send the messages scheduled for the next 7 days to Buffer.
    .ui.mini.list
      .item
        <sup><a href="http://dl.acm.org/citation.cfm?doid=364520.364540" target="_blank">1</a></sup> Durstenfeld, R. "Algorithm 235: Random Permutation." Communications of the ACM. ACM, 1 July 1964. Web. 29 Mar. 2017.
      .item
        <sup><a href="https://ruby-doc.org/core-2.2.0/Array.html#method-i-sample" target="_blank">2</a></sup> "Class: Array (Ruby 2.2.0)." Ruby Language Documentation, n.d. Web. 29 Mar. 2017.
  = render partial: 'shared/messages', locals: { messages: @messages, experiment_id: @experiment.id }
= render partial: 'message_generation_confirmation_modal', locals: { total: @experiment.message_generation_parameter_set.expected_generated_message_count(MessageTemplate.belonging_to(@experiment).count), experiment_id: @experiment.id }
= render partial: 'message_generation_progress_modal', locals: { total: @experiment.message_generation_parameter_set.expected_generated_message_count(MessageTemplate.belonging_to(@experiment).count), experiment_id: @experiment.id }