%table.ui.celled.striped.table
  %thead
    %tr
      %th{ colspan: "7" } 
        %h3 Facebook (Ad)
    %tr
      %th Database ID
      %th Text
      %th Headline
      %th Link Description
      %th Call to Action
      %th Campaign URL
      %th Image
  %tbody
    - @experiment.posts.each do |post|
      %tr
        %td= post.id
        %td= post.content[:text]
        %td= post.content[:headline]
        %td= post.content[:link_description]
        %td= post.content[:call_to_action]
        %td= post.content[:campaign_url]
        %td
          - image = Image.find(post.content[:image])
          = image_tag "#{image.url}", width: '150', height: '150', lazy: true
