- recent_analytics_files = analytics_files.select{ |analytics_file| analytics_file.required_upload_date >= Time.now - 2.days && analytics_file.required_upload_date <= Time.now + 1.day }.sort!{ |x, y| x.required_upload_date <=> y.required_upload_date }
%table.ui.celled.table
  %thead
    %tr
      %th
      %th Required upload date
      %th Social media type and username
      %th Medium
      %th
      %th Database Id
  %tbody
    - recent_analytics_files.each do |analytics_file|
      %tr{ class: [('positive' if !analytics_file.url.nil?)] }
        - if analytics_file.url.nil?
          %td
            %i.clock.icon
        - else
          %td
            %i.checkmark.box.icon
        %td= analytics_file.required_upload_date.strftime('%B %d, %Y')
        %td
          = analytics_file.social_media_profile.platform_icon_and_name 
          (#{analytics_file.social_media_profile.service_username})
        %td
          = analytics_file.social_media_profile.allowed_mediums[0].to_s.titleize
        - if analytics_file.url.nil?
          %td.collapsing
            %a.analytics-file-upload-button.ui.labeled.icon.button{'data-analytics-file-id': analytics_file.id, 'data-experiment-id': @experiment.id, 'data-experiment-param': @experiment.to_param}
              %i.upload.icon
              Upload analytics file
        - else
          %td
            %a.ui.labeled.icon.button{:href => "#{analytics_file.url}"}
              %i.download.icon
              Download
        %td
          = analytics_file.id.to_s
%h2.ui.header
  All analytics files
%table.ui.celled.table
  %thead
    %tr
      %th
      %th Required upload date
      %th Social media type and username
      %th Medium
      %th
      %th Database Id
  %tbody
    - analytics_files.to_a.sort!{ |x, y| x.required_upload_date <=> y.required_upload_date }.each do |analytics_file|
      %tr{ class: [('positive' if !analytics_file.url.nil?)] }
        - if analytics_file.url.nil?
          %td
            %i.clock.icon
        - else
          %td
            %i.checkmark.box.icon
        %td= analytics_file.required_upload_date.strftime('%B %d, %Y')
        %td
          = analytics_file.social_media_profile.platform_icon_and_name 
          (#{analytics_file.social_media_profile.service_username})
        %td
          = analytics_file.social_media_profile.allowed_mediums[0].to_s.titleize
        - if analytics_file.url.nil?
          %td.collapsing
        - else
          %td
            %a.ui.labeled.icon.button{:href => "#{analytics_file.url}"}
              %i.download.icon
              Download
        %td
          = analytics_file.id.to_s