%table.ui.celled.striped.table
  %form#image-tagging-form
    %thead
      %tr
        %th 
        %th Image
        %th Tags
    %tbody
      - images.each do |image|
        %tr
          %td
            .ui.fitted.checkbox.image-selector
              %input{ :type => 'checkbox', :id => "image-#{image.id}-selector", 'data-image-id' => "#{image.id}" }
              %label{ :for => "image-#{image.id}-selected" }
          %td
            %img{ :src => "#{image.url}", :width => 150, :height => 150 }
          %td= image.tag_list
    %tfoot.full-width
      %tr
        %th.collapsing
          #select-all-images-button.ui.tiny.button
            Select all
          #deselect-all-images-button.ui.tiny.button
            Deselect all
        %th
        %th
          .ui.form
            .field
              %input#image-tags{ :type => 'text' }
              %button#add-image-tags-button.ui.button
                Add tags