%table.ui.celled.striped.table
  %form#image-tagging-form
    %thead
      %tr
        %th.collapsing
          #select-all-images-button.ui.tiny.labeled.icon.fluid.button
            %i.checkmark.box.icon
            Select all
          .ui.horizontal.divider
            Or
          #deselect-all-images-button.ui.tiny.labeled.icon.fluid.button
            %i.square.outline.icon
            Deselect all
        %th.center.aligned Image
        %th 
          Tags
          .ui.form
            .field
              .ui.action.input
                %input#image-tags.ui.input{ :type => 'text' }
                %button#add-image-tags-button.ui.icon.button
                  %i.plus.icon
    %tbody
      - images.each do |image|
        %tr.center.aligned
          %td
            .ui.fitted.checkbox.image-selector{ 'data-image-id' => "#{image.id}" }
              %input{ :type => 'checkbox', :id => "image-#{image.id}-selector" }
              %label{ :for => "image-#{image.id}-selected" }
          %td
            %img{ :src => "#{image.url}", :width => 150, :height => 150 }
          %td.image-tag.collapsing
            = render partial: 'shared/tag_list', locals: { tags: image.tag_list }