%table.ui.sortable.celled.striped.table
  %thead
    %tr
      %th Content
      %th Platform
      %th Tags
      %th Hashtags
      %th Experiment variables
      %th
  %tbody
    - all_images = Image.belonging_to(@experiment)
    - message_templates.each do |message_template|
      - tag_matcher = TagMatcher.new
      - image_pool = tag_matcher.match(all_images, message_template.tags)
      - image_pool_urls = all_images.map(&:url).join(",")
      %tr.modal-urls{ 'data-image-urls' => "#{image_pool_urls}"}
        %td= message_template.content
        %td= message_template.platform
        %td
          = render partial: 'shared/tag_list', locals: { tags: message_template.tag_list }
        %td
          = render partial: 'shared/tag_list', locals: { tags: message_template.hashtags, hashtags: true }
        %td
          = render partial: 'shared/hash', locals: { hash: message_template.experiment_variables }
        %td.collapsing
          %a.choose-images-button.ui.labeled.icon.button
            %i.image.icon
            View images
      - if message_template.warnings.count > 0
        %tr.negative
          %td{ :colspan => 5 }
            = message_template.warnings.join('; ')
.ui.modal#lightbox
  .image-list
  .actions
    .ui.positive.right.labeled.icon.approve.button
      %i.arrow.right.icon
      Return to your experiment