%table.ui.very.basic.collapsing.table.message-generation-parameter-set
  %thead
    %tr
      %th
      %th Value
  %tbody
    %tr
      %td.collapsing Social media types
      %td= message_generation_parameter_set.social_network_choices.join(', ').titleize.chomp(',')
    %tr
      %td.collapsing Paid (ad)/unpaid (organic)
      %td= message_generation_parameter_set.medium_choices.join(', ').titleize.chomp(',')
    %tr
      %td.collapsing Length of experiment (in days)
      %td= message_generation_parameter_set.period_in_days
    %tr
      %td.collapsing Number of messages per day per social media type
      %td= message_generation_parameter_set.number_of_messages_per_social_network
    %tr
      %td.collapsing Social media profiles
      %td= message_generation_parameter_set.message_generating.social_media_profiles.map{ |social_media_profile| social_media_profile.service_username }.join(', ').chomp(',')
  %tfoot.full-width
    %tr
      %th{ colspan: 2 }
        Total messages: #{message_generation_parameter_set.expected_generated_message_count}
