%table.ui.celled.striped.table
  %thead
    %tr
      = paginate messages
    %tr
      %th Content
      %th Image
      %th Platform
      %th Medium
      %th Sent to Buffer
      %th Scheduled Date
      %th Scheduled Time
      %th Sent from Buffer
  %tfoot
    %tr
      = paginate messages
  %tbody
    - messages.each do |message|
      %tr
        %td= message.content
        %td= message.image_id
        %td= message.message_template.platform.to_s.titleize
        %td= message.medium
        %td= message.buffer_publish_date
        %td= message.scheduled_date_time.strftime("%b %d, %Y")
        %td= message.scheduled_date_time.strftime("%I:%M %P")
        %td= message.buffer_publish_date

