%table.ui.sortable.celled.striped.table
  %thead
    %tr
      %th Message content
      %th Social media type
      %th Hashtags
      %th Experiment labels
      %th
  %tbody
    - message_templates.each do |message_template|
      %tr
        %td= message_template.content
        %td= message_template.platform.to_s.titleize
        %td
          = render partial: 'shared/tag_list', locals: { tags: message_template.hashtags, hashtags: true }
        %td
          = render partial: 'shared/hash', locals: { hash: message_template.experiment_variables }
        %td.collapsing
          %a.choose-images-button.ui.labeled.icon.button{ 'data-message-template-id': "#{message_template.id}" }
            %i.image.icon
            View images
      - if message_template.warnings.count > 0
        %tr.negative
          %td{ :colspan => 5 }
            = message_template.warnings.join('; ')
.ui.modal#lightbox
  .image-list
  .actions
    .ui.positive.right.labeled.icon.approve.button
      %i.arrow.right.icon
      Return to your experiment