%table.ui.celled.striped.table
  %thead 
    %tr
      %th Content
      %th Platform
      %th Tags
      %th Hashtags
      %th Experiment variables
  %tbody
    - message_templates.each do |message_template|
      %tr
        %td= message_template.content
        %td= message_template.platform
        %td 
          = render partial: 'shared/tag_list', locals: { tags: message_template.tag_list }
        %td
          = render partial: 'shared/tag_list', locals: { tags: message_template.hashtags, hashtags: true }
        %td
          = render partial: 'shared/hash', locals: { hash: message_template.experiment_variables }
