%table.ui.celled.striped.table
  %thead
    = paginate messages
    %th Content
    %th Image
    %th Platform
    %th Medium
    %th Sent to Buffer
    %th Scheduled Date
    %th Scheduled Time
    %th Sent from Buffer
  %tfoot
    = paginate messages
  %tbody
    - messages.each do |message|
      %tr
        %td= message.content
        -if message.image_id
          %td
            = image_tag "#{message.image_id.url}", width: '50', height: '50', lazy: true
        -else
          %td= message.image_present
        %td= message.message_template.platform.to_s.titleize
        %td= message.medium
        -if message.buffer_publish_date
          -if message.scheduled_date_time <= message.buffer_publish_date + 24*60*60
            %td.negative.message= message.buffer_publish_date.strftime("%b %d, %Y")
          -else
            %td.positive.message= message.buffer_publish_date.strftime("%b %d, %Y")
        -else
          %td= message.publish_status
        %td= message.scheduled_date_time.strftime("%b %d, %Y")
        %td= message.scheduled_date_time.strftime("%I:%M %P")
        -if !message.buffer_update.nil?
          %td= message.buffer_update.sent_from_date_time.strftime("%I:%M %P, %b %d, %Y")
        -else
          %td= message.publish_status