%table.ui.sortable.celled.striped.table
  %thead
    %tr
      %th Message content
      %th Social media type
      %th Hashtag options     (if applicable)
      %th Web page URL
      %th Experiment variables
      %th
  %tbody
    - message_templates.each do |message_template|
      %tr
        %td= message_template.content
        %td= message_template.platforms.map{ |platform| platform.titleize }.join(', ')
        %td
          = render partial: 'shared/tag_list', locals: { tags: message_template.hashtags, hashtags: true }
        %td
          %a{:href => "#{message_template.promoted_website_url}", :target => '_blank'}
            = message_template.promoted_website_url
            %i.external.icon
        %td
          = render partial: 'shared/hash', locals: { hash: message_template.experiment_variables }
        %td.collapsing
          %a.choose-images-button.ui.labeled.icon.button{ 'data-experiment-id': "#{experiment.id}", 'data-message-template-id': "#{message_template.id}", 'data-filename-startswith-restriction': "#{message_template.experiment_variables['fda_campaign']}" }
            %i.image.icon
            Edit images (#{message_template.image_pool.count})
      - if message_template.warnings.count > 0
        %tr.negative
          %td{ :colspan => 5 }
            = message_template.warnings.join('; ')
.ui.modal#lightbox
  %i.close.icon
  .content
    .image-list
  .actions
    .ui.positive.right.labeled.icon.approve.button
      %i.arrow.right.icon
      Return to your experiment