.ui.right.floated.segment.object-count
  %h3.ui.header
    = page_entries_info comments
%table.ui.celled.striped.table
  %thead
    %tr
      %th.center.aligned Message
      %th.center.aligned Message date
      %th.center.aligned Comments
      %th.center.aligned Comment date
      %th.center.aligned Codes
      %th.center.aligned Toxicity score
  %tbody
  - @comments.each do |comment|
    %tr 
      %td
        = @messages.find(comment.message_id).content
      %td
        = @messages.find(comment.message_id).scheduled_date_time.strftime("%m/%d/%Y")
      %td
        = comment.comment_text
      %td
        - if comment.comment_date
          = comment.comment_date.strftime("%m/%d/%Y")
        - else
          N/A
      %td
        - if current_user.role != :read_only
          = render partial: 'shared/forms/input_comment_codes.html.haml', locals: { experiment: experiment, comment: comment }
      %td
        - if current_user.role != :read_only
          = comment.toxicity_score
        
