.ui.breadcrumb
  %a{:href => root_path}
    Home
  %i.right.angle.icon.divider
  .active.section
    #{@experiment.name} workspace
.ui.divider
%h2.ui.center.aligned.icon.header
  %i.circular.desktop.icon
  #{@experiment.name} workspace
%h3
  Message generation parameter set
%table.ui.celled.striped.table
  %thead 
    %tr
      %th Promoted properties tag
      %th Promoted properties cycle type
      %th Selected message templates tag
      %th Selected message templates cycle type
      %th Social network cycle type
      %th Medium cycle type
      %th Image present cycle type
      %th Period (in days)
      %th Number of messages per social network
      %th Number of generated messages
  %tbody
    %tr
      %td= @experiment.message_generation_parameter_set.promoted_websites_tag
      %td= @experiment.message_generation_parameter_set.promoted_properties_cycle_type
      %td= @experiment.message_generation_parameter_set.selected_message_templates_tag
      %td= @experiment.message_generation_parameter_set.selected_message_templates_cycle_type
      %td= @experiment.message_generation_parameter_set.social_network_cycle_type
      %td= @experiment.message_generation_parameter_set.medium_cycle_type
      %td= @experiment.message_generation_parameter_set.image_present_cycle_type
      %td= @experiment.message_generation_parameter_set.period_in_days
      %td= @experiment.message_generation_parameter_set.number_of_messages_per_social_network
      %td= @experiment.message_generation_parameter_set.expected_generated_message_count
  - if @experiment.message_generation_parameter_set == nil
    %tfoot.full-width
      %tr
        %th{:colspan => "10"}
          %a.ui.right.floated.small.primary.labeled.icon.button{:href => new_experiment_message_generation_parameter_set_path(@experiment)}
            %i.lab.icon
            Add message generation parameter set
  - else
    %tfoot.full-width
      %tr
        %th{:colspan => "10"}
          %a.ui.right.floated.small.primary.labeled.icon.button{:href => edit_message_generation_parameter_set_path(@experiment.message_generation_parameter_set)}
            %i.lab.icon
            Edit message generation parameter set
