%script{:src => "//api.filestackapi.com/filestack.js", :type => "text/javascript"}
.ui.breadcrumb
  %a{:href => root_path}
    Home
  %i.right.angle.icon.divider
  .active.section
    #{@experiment.name} workspace
.ui.divider
%h2.ui.center.aligned.header
  #{@experiment.name} workspace
%a.ui.labeled.icon.button{ href: edit_experiment_path(@experiment) }
  %i.pencil.icon
  Edit experiment
.ui.top.attached.tabular.menu
  %a{ class: 'item active', 'data-tab': 'message-generation' }
    Message generation
  %a{ class: 'item', 'data-tab': 'message-templates' }
    Message templates
  %a{ class: 'item', 'data-tab': 'images' }
    Images
  %a{ class: 'item', 'data-tab': 'websites' }
    Websites
  %a{ class: 'item', 'data-tab': 'generated-messages' }
    Generated messages
  %a{ class: 'item', 'data-tab': 'dashboard' }
    Dashboard
.ui.bottom.attached.tab.segment.active{ 'data-tab': 'message-generation' }
  - if @experiment.message_generation_parameter_set.nil?
    %a.ui.primary.labeled.icon.button{ :href => new_experiment_message_generation_parameter_set_path(@experiment) }
      %i.industry.icon
      Describe message generation
  - else
    %a.ui.primary.labeled.icon.button{ :href => edit_message_generation_parameter_set_path(@experiment.message_generation_parameter_set) }
      %i.industry.icon
      Describe message generation
  - if @experiment.message_generation_parameter_set.nil?
    .ui.message
      .header 
        Describe how you'd like the messages to be generated.
      %p Before Trial Promoter can generate messages for this experiment, you will need to answer a few simple questions. Please click on "Describe message generation" to get started.
  - else
    = render partial: 'shared/message_generation_parameter_set', locals: { message_generation_parameter_set: @experiment.message_generation_parameter_set }
.ui.bottom.attached.tab.segment{ 'data-tab': 'message-templates' }
  %a#message-templates-file-upload-button.ui.primary.labeled.icon.button{'data-experiment-id': @experiment.id}
    %i.upload.icon
    Import message templates
  - if @message_templates.count == 0
    .ui.message
      .header
        Import message templates.
      %p Trial Promoter uses message templates in order to generate the messages for this experiment. Please upload a CSV file with the columns listed below:
      %ul
        %li Content
        %li Platform (Twitter, Facebook or Instagram)
        %li Tags
        %li Hashtags
  - else
    = render partial: 'shared/message_templates', locals: { message_templates: @message_templates }
.ui.bottom.attached.tab.segment{ 'data-tab': 'images' }
  %a#images-upload-button.ui.primary.labeled.icon.button{'data-experiment-id': @experiment.id}
    %i.upload.icon
    Import images
  - if @images.count == 0
    .ui.message
      .header
        Import images.
      %p Trial Promoter can add an image to any message that it generated. Please click on "Import images" to import images into Trial Promoter.
  - else
    = render partial: 'shared/images', locals: { images: @images }
.ui.bottom.attached.tab.segment{ 'data-tab': 'websites' }
  %a#websites-file-upload-button.ui.primary.labeled.icon.button{'data-experiment-id': @experiment.id}
    %i.upload.icon
    Import websites
  - if @websites.count == 0
    .ui.message
      .header
        Import websites
      %p Trial Promoter promotes websites (or particular pages on a website). If you would like only certain websites to be promoted by certain message templates, you can use tags to match up message templates to websites. Message templates will only promote websites where the tags of the websites is a subset of the tags of the message template. Please upload a CSV file with the columns listed below:
      %ul
        %li Name (optional, values can be left blank)
        %li URL
        %li Tags
  - else
    = render partial: 'shared/websites', locals: { websites: @websites }
.ui.bottom.attached.tab.segment{ 'data-tab': 'generated-messages' }
  %a.ui.primary.labeled.icon.button{:href => generate_messages_path}
    %i.send.icon
    Generate messages
  - if @messages.count == 0
    .ui.message
      .header
        Generate messages when you are ready.
      %p When you have set up the message generation parameters and imported all your message templates and images, you are ready to generate the messages for this experiment. Please click on "Generate images" to generate all the messages for this experiment.
  - else
    .ui.negative.message
      .header
        Regarding message generation
      %ul.list
        %li All messages for a experiment are deleted each time messages are generated.
        %li A day before the experiment is scheduled to start message distribution, message generation will be locked.
    = render partial: 'shared/messages', locals: { messages: @messages }
.ui.bottom.attached.tab.segment{ 'data-tab': 'dashboard' }
  .ui.segment
    .ui.form
      .inline.fields
        %label Social media types:
        .field
          .ui.checkbox
            %input.hidden{:name => "fruit", :tabindex => "0", :type => "checkbox", checked: "checked"}/
            %label Facebook
        .field
          .ui.checkbox
            %input.hidden{:name => "fruit", :tabindex => "0", :type => "checkbox"}/
            %label Instagram
        .field
          .ui.checkbox
            %input.hidden{:name => "fruit", :tabindex => "0", :type => "checkbox", checked: "checked"}/
            %label Twitter
      .inline.fields
        %label Paid/unpaid (organic):
        .field
          .ui.checkbox
            %input.hidden{:name => "fruit", :tabindex => "0", :type => "checkbox", checked: "checked"}/
            %label Paid
        .field
          .ui.checkbox
            %input.hidden{:name => "fruit", :tabindex => "0", :type => "checkbox"}/
            %label Unpaid (organic)
      .inline.fields
        %label Images: 
        .field
          .ui.checkbox
            %input.hidden{:name => "fruit", :tabindex => "0", :type => "checkbox", checked: "checked"}/
            %label With
        .field
          .ui.checkbox
            %input.hidden{:name => "fruit", :tabindex => "0", :type => "checkbox"}/
            %label Without
      .inline.field
        %label 
          Number of top messages to show:
        %input{:type => "text", :placeholder => "5"}
  .ui.three.column.grid
    .column
      .ui.fluid.card
        .content
          .header 
            %i.twitter.icon
            Engagements: 50  
          .meta 2 days ago
          .description
            %p
              This is one of the messages sent via Twitter.
        .extra.content
          .ui.three.column.grid
            .column
              .mini.statistic
                .value 
                  25
                .label
                  retweets
            .column
              .mini.statistic
                .value 
                  15
                .label
                  mentions
            .column
              .mini.statistic
                .value 
                  10
                .label
                  likes
    .column
      .ui.fluid.card
        .content
          .header 
            %i.facebook.f.icon
            Here is an example of a much longer message sent via Facebook. This message is longer than 140 characters and is an example of what happens where a really long message is present.
          .meta 2 days ago
          .description
            %p Engagements: 50
        .extra.content
          %i.refresh.icon
          25 shares
          %i.comment.outline.icon
          15 comments
          %i.thumbs.outline.up.icon
          10 likes