%script{:src => "//api.filestackapi.com/filestack.js", :type => "text/javascript"}
.ui.breadcrumb
  %a{:href => root_path}
    Home
  %i.right.angle.icon.divider
  .active.section
    #{@experiment.name} workspace
.ui.divider
%h2.ui.center.aligned.icon.header
  %i.circular.desktop.icon
  #{@experiment.name} workspace
.ui.top.attached.tabular.menu
  %a{ class: 'item active', 'data-tab': 'message-generation' }
    Message generation
  %a{ class: 'item', 'data-tab': 'message-templates' }
    Templates
  %a{ class: 'item', 'data-tab': 'images' }
    Images
  %a{ class: 'item', 'data-tab': 'messages' }
    Messages
  %a{ class: 'item', 'data-tab': 'dashboard' }
    Dashboard
.ui.bottom.attached.tab.segment.active{ 'data-tab': 'message-generation' }
  %h3
    Message generation parameter set
  %table.ui.definition.table
    %thead
      %tr
        %th
        %th Value
    %tbody
      %tr
        %td Promoted websites tag
        %td= @experiment.message_generation_parameter_set.promoted_websites_tag
      %tr
        %td Promoted properties cycle type
        %td= @experiment.message_generation_parameter_set.promoted_properties_cycle_type
      %tr
        %td Selected message templates tag
        %td= @experiment.message_generation_parameter_set.selected_message_templates_tag
      %tr
        %td Selected message templates cycle type
        %td= @experiment.message_generation_parameter_set.selected_message_templates_cycle_type
      %tr
        %td Social network cycle type
        %td= @experiment.message_generation_parameter_set.social_network_cycle_type
      %tr
        %td Medium cycle type
        %td= @experiment.message_generation_parameter_set.medium_cycle_type
      %tr
        %td Image present cycle type
        %td= @experiment.message_generation_parameter_set.image_present_cycle_type
      %tr
        %td Period (in days)
        %td= @experiment.message_generation_parameter_set.period_in_days
      %tr
        %td Number of messages per social network
        %td= @experiment.message_generation_parameter_set.number_of_messages_per_social_network
      %tr
        %td Number of generated messages
        %td= @experiment.message_generation_parameter_set.expected_generated_message_count
    %tfoot.full-width
      %tr
        %th{:colspan => "2"}
          - if @experiment.message_generation_parameter_set == nil
            %a.ui.right.floated.small.primary.labeled.icon.button{:href => new_experiment_message_generation_parameter_set_path(@experiment)}
              %i.lab.icon
              Add message generation parameter set
          - else
            %a.ui.right.floated.small.primary.labeled.icon.button{:href => edit_message_generation_parameter_set_path(@experiment.message_generation_parameter_set)}
              %i.lab.icon
              Edit message generation parameter set
.ui.bottom.attached.tab.segment{ 'data-tab': 'message-templates' }
  %h3
    Message templates
  %table.ui.celled.striped.table
    %thead 
      %tr
        %th Content
        %th Platform
        %th Tags
    %tbody
      - @message_templates.each do |message_template|
        %tr
          %td= message_template.content
          %td= message_template.platform
          %td= message_template.tag_list
    %tfoot.full-width
      %tr
        %th{:colspan => "3"}
          %a#csv-file-upload-button.ui.right.floated.small.primary.labeled.icon.button
            %i.upload.icon
            Import message templates
.ui.bottom.attached.tab.segment{ 'data-tab': 'images' }
  %h3
    Images
  %table.ui.celled.striped.table
    %thead 
      %tr
        %th Image
        %th Tags
    %tbody
      %tr
        %td
        %td
    %tfoot.full-width
      %tr
        %th{:colspan => "2"}
          %a#image-files-upload-button.ui.right.floated.small.primary.labeled.icon.button
            %i.upload.icon
            Import images
.ui.bottom.attached.tab.segment{ 'data-tab': 'messages' }
  %h3
    Messages
.ui.bottom.attached.tab.segment{ 'data-tab': 'dashboard' }
  %h3
    Dashboard