.ui.breadcrumb
  %a{:href => root_path}
    Home
  %i.right.angle.icon.divider
  .active.section
    #{@experiment.name} Pilot Project Workspace
.ui.divider
%h2.ui.center.aligned.header
  #{@experiment.name} Pilot Project Workspace
#experiment
  .ui.top.attached.tabular.menu
    %a{ class: 'item', 'data-tab': 'setup' }
      Setup
    %a{ class: 'item', 'data-tab': 'images' }
      Images
    %a{ class: 'item', 'data-tab': 'message-templates' }
      Message templates
    %a{ class: 'item', 'data-tab': 'generated-messages' }
      Generated messages
    %a{ class: 'item', 'data-tab': 'dashboard' }
      Dashboard
    - if current_user.role.include?('administrator')
      %a{ class: 'item', 'data-tab': 'data-dictionary' }
        Data dictionary
      %a{ class: 'item', 'data-tab': 'message-comments' }
        Message comments
  .ui.bottom.attached.tab.segment{ 'data-tab': 'setup' }
    = render partial: 'experiments/tabs/setup'
  .ui.bottom.attached.tab.segment{ 'data-tab': 'images' }
    = render partial: 'experiments/tabs/images'
  .ui.bottom.attached.tab.segment{ 'data-tab': 'message-templates' }
    = render partial: 'experiments/tabs/message_templates'
  .ui.bottom.attached.tab.segment{ 'data-tab': 'generated-messages' }
    = render partial: 'experiments/tabs/generated_messages'
  .ui.bottom.attached.tab.segment{ 'data-tab': 'dashboard' }
    = render partial: 'experiments/tabs/dashboard'
  - if current_user.role.include?('administrator')
    .ui.bottom.attached.tab.segment{ 'data-tab': 'data-dictionary' }
      = render partial: 'experiments/tabs/data_dictionary'
    .ui.bottom.attached.tab.segment{ 'data-tab': 'message-comments' }
      = render partial: 'experiments/tabs/message_comments'
