.ui.breadcrumb
  %a{:href => admin_settings_path}
    Settings 
  %i.right.angle.icon.divider
  .active.section
    Edit #{@setting.var.humanize.downcase}
.ui.divider
%h3.ui.top.attached.header
  #{@setting.var.humanize}
.ui.attached.segment
  = simple_form_for @setting, url: admin_setting_path(@setting.var), method: 'patch' do |f|
    = f.input :value, as: :text
    = f.button :submit