.ui.items
  - @facebook_posts = @experiment.posts.select{ |post| post.post_template.social_media_specification.platform == :facebook}
  - if @facebook_posts.count > 0
    - @facebook_posts.each do |post|
      .item
        .ui.tiny.image
          -if post.content[:image]
            - image = Image.find(post.content[:image])
            = image_tag "#{image.url}"
          -else
            = image_tag "no-image.png"
        .content
          = post.content[:text]
          .ui.right.basic.label
            = post.post_template.social_media_specification.platform
          %table.ui.very.basic.table
            %thead
              %tr
                %th Likes
                %th Shares
                %th Comments
                %th Landing page views
                %th Clicks
                %th Impressions
                %th Click rate
                %th Conversion rate
            %tbody
              %tr
                %td= MetricsManager.get_metric_value(post, :facebook, :likes)
                %td= MetricsManager.get_metric_value(post, :facebook, :shares)
                %td= MetricsManager.get_metric_value(post, :facebook, :comments)
                %td= MetricsManager.get_metric_value(post, :facebook, :results).to_s
                %td= MetricsManager.get_metric_value(post, :facebook, :link_clicks).to_s
                %td= number_with_delimiter(MetricsManager.get_metric_value(post, :facebook, :impressions))
                %td 
                  .ui.mini.teal.statistic
                    .value
                      1%
                %td 
                  .ui.mini.teal.statistic
                    .value
                      1%
  -else
    = render partial: 'experiments/tabs/dashboard/messages_by_platform/no_message_placeholder'                  
