.ui.breadcrumb
  %a{:href => root_path}
    Home
  %i.right.angle.icon.divider
  .section
    %a{:href => clinical_trials_path}
      Clinical trials
  %i.right.angle.icon.divider
  .active.section
    Edit clinical trial: #{@clinical_trial.title}
.ui.divider
%h3.ui.top.attached.header
  Edit clinical trial: #{@clinical_trial.title}
.ui.attached.segment
  = simple_form_for @clinical_trial do |f|
    = f.input :title
    = f.input :url, label: 'URL'
    = f.input :pi_first_name, label: 'PI first name'
    = f.input :pi_last_name, label: 'PI last name'
    = f.input :disease
    = f.input :hashtags, collection: @hashtags.order(:phrase), :label_method => :phrase, :value_method => :phrase, input_html: { multiple: true }
    = f.button :submit
