%h2.header
  Clinical trials
%table.ui.celled.striped.table
  %thead 
    %tr
      %th Title
      %th PI name
      %th Disease
      %th Hashtag
      %th
  %tbody
    - @clinical_trials.each do |clinical_trial|
      %tr
        %td
          #{clinical_trial.title}
          %a{:href => clinical_trial.url, :target => '_blank'}
            %i.external.icon
        %td #{clinical_trial.pi_first_name} #{clinical_trial.pi_last_name}
        %td= clinical_trial.disease
        %td= clinical_trial.hashtags
        %td
          %a{:href => edit_clinical_trial_path(clinical_trial)}
            Edit
  %tfoot.full-width
    %tr
      %th{:colspan => "5"}
        %a.ui.right.floated.small.primary.labeled.icon.button{:href => new_clinical_trial_path}
          %i.doctor.icon
          Add clinical trial

