.ui.breadcrumb
  %a{:href => root_path}
    Home
  %i.right.angle.icon.divider
  .active.section
    Create new campaign
= simple_form_for @campaign do |f|
  = f.input :name
  = f.input :start_date
  = f.input :end_date
  = f.button :submit