.ui.breadcrumb
  %a{:href => root_path}
    Home
  %i.right.angle.icon.divider
  .section
    %a{:href => experiment_path(@data_dictionary.experiment)}
      #{@data_dictionary.experiment.name} workspace
  %i.right.angle.icon.divider
  .active.section
    Data dictionary
.ui.divider
%a.ui.primary.labeled.icon.button{ :href => edit_data_dictionary_path(@data_dictionary) }
  %i.pencil.icon
  Edit data dictionary
%table.ui.celled.striped.table
  %thead 
    %tr
      %th Include in report?
      %th Trial Promoter label
      %th Source
      %th Report label
      %th Allowed values
      %th Value mapping
      %th Note
  %tbody
    - @data_dictionary.data_dictionary_entries.each do |data_dictionary_entry|
      %tr
        %td= data_dictionary_entry.include_in_report
        %td= data_dictionary_entry.trial_promoter_label
        %td= data_dictionary_entry.source.to_s.titleize
        %td= data_dictionary_entry.report_label
        %td= render partial: 'shared/array_of_strings', locals: { array_of_strings: data_dictionary_entry.allowed_values }
        %td= data_dictionary_entry.value_mapping
        %td= data_dictionary_entry.note
