!!!
%html
  %head
    %title Trial Promoter
    = stylesheet_link_tag     'application', media: 'all'
    = stylesheet_link_tag     'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'
    = stylesheet_link_tag     'https://fonts.googleapis.com/css?family=Open+Sans:300,400,700'
    = javascript_include_tag  'application'
    = csrf_meta_tags
  %body{'data-environment' => Rails.env}
    .ui.container
      = render 'layouts/header'
      .ui.grid
        .fluid.four.wide.column
          = render 'layouts/menu'
          %p.navbar-text.pull-right
          - if user_signed_in?
            Logged in as
            = succeed "." do
              %strong= current_user.email
            = link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link'
            = link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'
          - else
            = link_to "Sign up", new_user_registration_path, :class => 'navbar-link'
            = link_to "Login", new_user_session_path, :class => 'navbar-link'
        .twelve.wide.column
          - if notice
            .ui.info.message
              %p
                = notice
          - if alert
            .ui.negative.message
              %p
                = alert
          = yield
