!!!
%html
  %head
    = favicon_link_tag("airplane_favicon.png")
    %title Trial Promoter
    = stylesheet_link_tag     'application', media: 'all'
    = stylesheet_link_tag     'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'
    = stylesheet_link_tag     'https://fonts.googleapis.com/css?family=Open+Sans:300,400,700'
    = javascript_include_tag  'application'
    = csrf_meta_tags
  %body{'data-environment' => Rails.env, 'data-filepicker-api-key' => ENV["FILEPICKER_API_KEY"], 'data-s3-bucket' => ENV['S3_BUCKET']}
    .ui.container
      = render 'layouts/header'
      - if notice
        .ui.info.message
          %p
            = notice
      - if alert
        .ui.negative.message
          %p
            = alert
      = yield
